/* Font import */
@import url(https://db.onlinewebfonts.com/c/4a24899e94d8236f671c1090cd9e068c?family=Canela-Regular);

@font-face {
  font-family: "Canela-Regular";
  src: url("https://db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.eot");
  src:
    url("https://db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/4a24899e94d8236f671c1090cd9e068c.svg#Canela-Regular") format("svg");
}

/* Styling */
body {
  background-color: var(--primary-color);
  font-family: "Canela-Regular";
  font-size: 1.125rem;
}

.main-wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 1.5rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  background-color: var(--header-button-hover);
  color: var(--secondary-color);
  border-radius: 0 0 1rem 1rem;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar-social-container,
.navbar-link-container,
.navbar-cart-login {
  display: flex;
  flex-direction: column;
  flex-direction: row;
}

.home-button {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
}

.header__headline-bold {
  font-size: 2rem;
  font-weight: 800;
}

.header__headline-light {
  font-size: 2rem;
  font-weight: 300;
}

.navigation-container {
  display: flex;
  justify-content: space-around;
}

.navbar-links {
  max-height: 2.6rem;
  border-radius: 50%;
  padding: 0.6rem;
}

.navbar-links:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.navbar-icons {
  width: 1.5rem;
  height: 1.5rem;
}

#cart {
  position: relative;
}

.page-link:hover {
  font-weight: bold;
}

.badge {
  width: 1rem;
  height: 1rem;
  background: var(--secondary-color);
  color: var(--color-accent-1);
  border-radius: var(--border-radius-medium);
  position: absolute;
  bottom: 0.2rem;
  right: 0.3rem;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
  font-weight: 600;
  line-height: 1;
}

/* Hero section */
.hero-section {
  width: 100%;
  height: 100vh;
  max-height: 56rem;
  display: flex;
  flex-direction: column;
  color: var(--primary-color);
  padding: 1.5rem 3rem;
  background-image: url(../assets/images/hero-image.jpg);
  background-position: 0% 40%;
  background-size: cover;
}

.hero-title-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  padding: 2rem 0;
  font-weight: 800;
}

.hero-button-container {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: end;
  align-items: end;
}

.call-to-action-button {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.call-to-action-button:hover {
  background-color: #fdf9f250;
}

/* Toggle switch */
.selection-container {
  width: 100%;
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.bestseller-section {
  padding: 0 3rem;
}

.selections {
  width: 100%;
  font-size: 1.125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
  background: var(--primary-color);
  padding: 0.75rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.filter {
  display: flex;
  gap: 1rem;
}

.toggle-holder {
  max-width: 12rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.switch {
  width: 2.8rem;
  height: 1rem;
  background-color: #d9d9d9;
  border-radius: 1rem;
  display: flex;
  position: relative;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  top: -0.3rem;
  left: -0.1rem;
  background-color: #9e9c9c;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  background-color: #b97a63;
  -webkit-transform: translateX(1.6rem);
  -ms-transform: translateX(1.6rem);
  transform: translateX(1.6rem);
}

.slider.round {
  border-radius: 2rem;
}

.slider.round:before {
  border-radius: 50%;
}

.switch input:checked + .slider {
  background-color: #d9bbb0;
}

/* General styling for the lamp containers */
.content-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 3rem;
  padding: 0 3rem;
  align-items: start;
}

.bestseller-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 4rem;
  align-items: start;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.lamp-container {
  display: flex;
  padding-bottom: 1rem;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  min-height: 43rem;
  position: relative;
  text-decoration: none;
  color: inherit;
  background-color: rgb(239, 239, 239);
  transition:
    opacity 800ms ease-in-out,
    transform 300ms ease;
  transform: scale(1);
  border-radius: 0.5rem;
}

.lamp-container:hover {
  transform: scale(1.02);
}

.lamp-info {
  width: 100%;
  height: 15rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.lamp-stage {
  position: relative;
  width: 100%;
  aspect-ratio: 3 / 4;
}

.info-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

.lamp-image,
.lamp-image__dark {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  object-fit: contain;
  border-radius: 0.5rem 0.5rem 0 0;
}

.lamp-image {
  opacity: 1;
}

.lamp-image__dark {
  opacity: 0;
}

body.is-dark .lamp-image {
  opacity: 0;
}

body.is-dark .lamp-image__dark {
  opacity: 1;
}

.error-message {
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
}

.button-wrapper {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: end;
  align-items: center;
}

.view-product {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 0.25rem;
}

.view-product:hover {
  background-color: #546386;
}

.add__button {
  margin-top: 1rem;
  width: 12.5rem;
  height: 2.5rem;
  font-weight: 600;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: var(--border-radius-medium);
  bottom: 1.5rem;
}

.add__button:hover {
  background: #546386;
}

.add__button:active {
  background: #2a3143;
}

/* Checkout */

.checkout-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 31.25rem;
  height: 46.5rem;
  z-index: 1000;
  background: var(--primary-color);
  border: var(--border-black);
}

.checkout-container__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.checkout-container-top {
  display: flex;
  justify-content: center;
}

.checkout-container-bottom {
  display: flex;
}

.lamp-container--blurred {
  filter: blur(0.3rem);
  cursor: pointer;
  margin-top: var(--spacing-large);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 16rem;
  height: 22.875rem;
  border: var(--border-black);
  border-radius: var(--border-radius-sm-medium);
  padding: var(--spacing-small);
}

.header--blurred {
  filter: blur(0.3rem);
}

.exit-icon {
  cursor: pointer;
  height: 2.3rem;
  width: 2.3rem;
  position: absolute;
  top: 0;
  left: 0;
  margin: var(--spacing-small);
}

.checkout-headline {
  margin-top: 0.313rem;
  text-align: center;
  font-size: var(--font-size-medium);
  color: var(--secondary-color);
}

.checkout-page__button {
  width: 12.5rem;
  height: 2.813rem;
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: var(--border-radius-medium);
  font-size: var(--font-size-small);
  position: absolute;
  bottom: var(--spacing-small);
  right: var(--spacing-small);
}

.total-price {
  margin: var(--spacing-small);
  font-size: var(--font-size-sm-medium);
}

.image-element-checkout {
  position: static;
  inset: auto;
  width: 5rem;
  height: 7rem;
  object-fit: cover;
}
.quantity-controls {
  display: flex;
  align-items: center;
  gap: 0.375rem;
}

.quantity-controls button {
  width: 1.2rem;
  background: var(--primary-color);
  border-radius: var(--border-radius-large);
  cursor: pointer;
}

.quantity-controls button:hover {
  background: var(--color-back-button-cart-hover);
}

.quantity-display {
  min-width: 0.625rem;
  text-align: center;
}

.delete-button {
  margin-left: 0.25rem;
  text-align: center;
  width: 6rem;
  height: 2rem;
  display: inline-block;
  font-size: var(--font-size-base);
  border-radius: var(--border-radius-medium);
  background: var(--primary-color);
}

.delete-button:hover {
  background: var(--color-back-button-cart-hover);
}

.checkout-container-main-content {
  width: 100%;
  height: 37rem;
  display: flex;
  justify-content: flex-start;
  flex-flow: column nowrap;
  align-items: flex-start;
}

.checkout-container-flex {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.checkout-book-title {
  width: 30%;
}

/* Filter */
.section-headline {
  margin-bottom: 2rem;
}

.filter {
  display: flex;
  gap: 1rem;
}

.filter-button:hover {
  background-color: var(--header-button-hover);
}

.filter-button {
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
}

.filter-button-active {
  padding: 0.5rem 0.75rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  border-radius: 0.5rem;
}

/* footer styling */
footer {
  width: 100%;
  padding: 2rem 3rem;
  margin-top: 4rem;
  background-color: var(--header-button-hover);
  color: var(--secondary-color);
  border-radius: 1rem 1rem 0 0;
}

.footer-content-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer-description-container,
.footer-links-container,
.footer-contact-container {
  flex-basis: 33%;
}

.footer-links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-headline {
  font-size: 2rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  color: var(--secondary-color);
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.address-container,
.phone-container,
.email-container,
.socials-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  gap: 1rem;
}

.footer-icons {
  width: 1.5rem;
}

.footer-social-icon {
  width: 2.5rem;
}

.copyright-message {
  text-align: center;
  margin-top: 3rem;
}

.product-main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.product-image-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info-container {
  width: 50%;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.quantity-container {
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid yellow;
}

/* NUMERIC STEPPER */
.numeric-stepper__container {
  display: flex;
  flex-flow: row nowrap;
}

.numeric-element {
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 0.25rem;
}

.numeric-button__reduce {
  background: var(--secondary-color);
  width: 50px;
  height: 50px;
  color: var(--primary-color);
  border-radius: 0.25rem;
}

.numeric-button__increment {
  background: var(--secondary-color);
  width: 50px;
  height: 50px;
  color: var(--primary-color);
  border-radius: 0.25rem;
}

.numeric-button__reduce:hover,
.numeric-button__increment:hover {
  background: #546386;
}

.numeric-button__reduce:active,
.numeric-button__increment:active {
  background: #2a3143;
}
